* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #111;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    border-bottom: 2px solid #222;
}

main {
    max-width: 1440px;
    height: 600px;
    margin: 0 auto;
    background-color: skyblue;
}
