/* Todo: add google font - poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Todo: common css start */
.section-title {
    color: #222;
    font-size: 28px;
    font-weight: 600;
}

.section-description {
    font-size: 14px;
    color: #444;
    margin-bottom: 30px;
    border-bottom: 1px solid #999;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #111;
    font-size: 40px;
    font-weight: 700;
    margin: 20px;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

.btn {
    margin: 65px auto 30px;
    text-align: center;
}

.btn > a {
    text-decoration: none;
    color: #ddd;
    background-color: #222;
    padding: 12px 65px;
    border-radius: 5px;
}

.common-section-css {
    padding: 30px;
    background-color: skyblue;
    margin-bottom: 100px;
}
/* Todo: common css end */

/* Todo: tree structural pseudo class start */
:root {
    background: #ddd;
    font-family: 'Poppins', sans-serif;
}

div:empty {
    outline: 2px solid deeppink;
    height: 50px;
    background-color: pink;
}

#tree-structural-pseudo ul {
    padding: 0 40px;
}

#tree-structural-pseudo li > ol {
    padding-left: 40px;
}

#tree-structural-pseudo ol > li {
    margin: 8px;
}

#tree-structural-pseudo li > ol > li:nth-child(2n) {
    color: crimson;
    font-size: 12px;
    font-weight: 700;
    border: 1px solid blue;
    background-color: pink;
}

#tree-structural-pseudo li > ol > li:nth-child(2n + 1) {
    font-size: 24px;
    font-weight: 500;
    color: whitesmoke;
    text-shadow: 5px 3px 3px #111;
}

#tree-structural-pseudo li:first-child {
    background-color: green;
}

#tree-structural-pseudo li:last-child {
    background-color: rgb(78, 159, 197);
}

#tree-structural-pseudo li:only-child {
    color: red !important;
    height: 50px;
    padding: 7px;
}
/* Todo: tree structural pseudo class end */

/* Todo: any-link pseudo class start */
#any-link > a {
    display: block;
}

#any-link > a:visited {
    color: purple;
}
/* Todo: any-link pseudo class end */

/* Todo: user action pseudo class start */
.menu ul {
    display: flex;
    gap: 20px;
    height: 100px;
    list-style: none;
    padding: 37px 20px 0;
    background-color: pink;
}

.menu ul li a {
    text-decoration: none;
    color: #082f53;
}

.menu ul li a:hover {
    color: red;
}

.menu ul li .home:active {
    color: green;
}

input {
    width: 400px;
    height: 30px;
    display: block;
    padding: 10px;
    margin: 20px;
    border: none;
    background-color: #ddd;
    outline: 0;
}

input[type='text']:focus {
    color: crimson;
    border: 1px solid #777;
}

/* Todo: user action pseudo class end */
