/* Todo: add google font - poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Todo: common css start */
.section-title {
    color: #222;
    font-size: 28px;
    font-weight: 600;
}

.section-description {
    font-size: 14px;
    color: #444;
    margin-bottom: 30px;
    border-bottom: 1px solid #999;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #111;
    font-size: 40px;
    font-weight: 700;
    margin: 20px;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

.btn {
    margin: 65px auto 30px;
    text-align: center;
}

.btn > a {
	text-decoration: none;
	color: #ddd;
	background-color: #222;
	padding: 12px 65px;
	border-radius: 5px;
}

#tree-structural-pseudo {
    padding: 30px;
    background-color: skyblue;
    margin-bottom: 100px;
}
/* Todo: common css end */

/* Todo: Tree-structural pseudo-classes start */
:root {
    background: #ddd;
    font-family: 'Poppins', sans-serif;
}

div:empty {
    outline: 2px solid deeppink;
    height: 50px;
    background-color: pink;
}

ul{
    padding: 0 40px;
}

li > ol {
    padding-left: 40px;
}

ol > li {
    margin: 8px;
}

li > ol > li:nth-child(2n) {
    color: crimson;
    font-size: 12px;
    font-weight: 700;
    border: 1px solid blue;
    background-color: pink;
}

li > ol > li:nth-child(2n + 1) {
    font-size: 24px;
    font-weight: 500;
    color: whitesmoke;
    text-shadow: 5px 3px 3px #111;
}

li:first-child {
    background-color: green;
}

li:last-child {
    background-color: rgb(78, 159, 197);
}

li:only-child {
    color: red !important;
    height: 50px;
    padding: 7px;
}
/* Todo: Tree-structural pseudo-classes end */
